.home{
  display: flex;
  align-items: center;
  .home-left{
    width: 200px;
    height: 45px;
    text-align: center;
    line-height: 45px;
  }
  .home-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    .theme-center{
      display: flex !important;
      align-items: center;
    }
    .home-icon{
      font-size: 25px;
    }
    .home-icon:hover,.login-out:hover{
      cursor: pointer;
      color: cornflowerblue;
    }
  }
}