*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
/* 全局样式 */
/* -------------------------------------------- */
.G-home{
  width: 100%;
  height: 100%;
  padding: 5px;
}
.G-mgr-5{
  margin-right: 5px;
}
.G-mgl-5{
  margin-left: 5px;
}
.G-mgt-5{
  margin-top: 5px;
}
.G-mgtb-5{
  margin: 5px 0;
}
.G-flex{
  display: flex;
}
/* 水平垂直居中 */
.G-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------------------------- */