.home {
  width: 100%;
  height: calc(100% - 93px);
  .button {
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
    .button-left {
      display: flex;
      flex-direction: row;
      flex: 8;
      .button-left-sub:not(:first-child) {
        margin-left: 10px;
      }
    }
    .button-right {
      display: flex;
      flex-direction: row-reverse;
      flex: 8;
      .button-right-sub:not(:first-child) {
        margin-right: 10px;
      }
    }
  }
  /deep/ .color1{
    color: #F060DD;
  }
  /deep/ .color2{
    color: #FF8D13;
  }
  .pagination {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFF;
  }
}